extends layout

block content
  h1 Digiploma
  p.lead Diploma on the blockchain.
  
  .row
    .col-md-6
      h2 Digital
      p Paper-based diplomas are a thing of the past. Enjoy the convenience of eletronic documents with Digiploma.
      p 
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Portable
      p Forgot where you put your diploma? With Digiploma, all you need is a QR code to get instant access to your digital diploma, anywhere at any time.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Secure
      p Digiplomas are stored in a distributed ledger, also known as blockchain. It is immutable and fault-tolerant, providing up to 100% security and availability.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Authentic
      p Using Proof of Authority, new entries to the ledger must be checked by validators. Only verified diplomas are stored in the blockchain, ensuring authenticity and eliminating forgery.
      p
        a.btn.btn-raised(href='#', role='button') View details »