extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Scan QR

  form(action='/digiploma1.png', target='_blank')
    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          | Scan
